body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
    background-color: black;
	margin: 0.33em;
    tab-size: 10;
}

a:link {
	color: hsla(213,78%,65%,1);
	text-decoration-color: #FFFFFF;
	text-decoration-thickness: 10%;
  
}

a:visited {
    color: hsla(270,50%,70%,1);
	text-decoration-color: #FFFFFF;
}

a:hover {
    color: inherit;
	text-decoration: underline;
	text-decoration-thickness: 10%;
	text-decoration-color: hsla(213,78%,65%,1);
	text-decoration-skip-ink: auto;
}

a:visited:hover {
	color: inherit;
	text-decoration: underline;
	text-decoration-thickness: 10%;
	text-decoration-color: hsla(270,50%,70%,1);
	text-decoration-skip-ink: auto;
	
}

a:active {
	color: hsla(45, 100%, 70%, 1);
	text-decoration: inherit;
}

body {
	-epub-hyphens:auto;
	display:flex;
	flex-direction: column;
	align-items: left;
	padding-left:7%;
}

div.Basic-Text-Frame {
    border-style: solid;
	background-color: black;
}

p.Details {
    color: #FFFFFF;
    font-family: "MetaSerifPro-Book", serif;
    font-size: clamp(1rem, 3vw, 2.5rem);
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.15;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
    margin-top: 0em;
    margin-right: 0em;
    margin-left: 0em;
    margin-bottom: 0em;
}
p.Headings {
    color: #FFFFFF;
    font-family: "Case Medium", sans-serif;
    font-size: clamp(1.5rem, 6.5vw, 2.5rem);
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 1.35;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
	tab-size: 10;
	padding: 0;
	margin: 0;
}
p.Name {
    color: #FFFFFF;
    font-family: "Case Medium", sans-serif;
    font-size: clamp(2rem, 7vw, 3rem);
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 1.15;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
    margin-bottom: 0.33em;
}
.pronunciation {
	color: #FFFFFF;
    font-family: "MetaSerifPro-Book";
    font-size: clamp(0.7rem, 2vw, 2rem);
    font-style: normal;
    font-variant: normal;
    font-weight: 350;
    line-height: 4.05;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
	tab-size: 10;
	padding: 0;
	margin: 0;
	
}
p.BibHeading {
    color: #FFFFFF;
    font-family: "Case Medium", sans-serif;
    font-size: 4vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 1.15;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
    margin-bottom: 0.33em;
}
p.BibEntry {
	color: white;
	font-family: "MetaSerifPro-Book", serif;
	font-size: 2vw;
	padding-left: 36px;
	text-indent: -36px;
	padding-top: 1.5vh;
		
}
p.BibNote {
	color: white;
	font-family: "MetaSerifPro-Book", serif;
	text-indent: 36px;
	font-size: 2vw;
	
}
div.review_text {
	color: white;
	font-family: "MetaSerifPro-Book", serif;
	font-size: clamp(1rem, 2vw, 3.5rem);
	margin-left: 3%;
	margin-right:3%;
	max-width:70ch;
	width:90%;
}
div.control {
	color:white;
	font-family: "Case Text", sans-serif;
	font-size: clamp(0.75rem, 1.5vw, 2rem);
	text-align:right;
	margin-top:2vh;
	display:inline-block;
	padding-right:2%;
	flex:1;
}
div.countercontrol {
	color:white;
	font-family: "Case Text", sans-serif;
	font-size: clamp(0.75rem, 1.5vw, 2rem);
	text-align:left;
	margin-top:2vh;
	display:inline-block;
	padding-left:2%;
	flex:1;
}
p.review_par {
	margin-top: 3vh;
    /* hanging-punctuation is currently only supported in Safari. */
    hanging-punctuation: first last;
    leading-trim: both;
    text-edge: cap;
}
div.byline {
	text-align: right;
}
div.review_intro {
	color: white;
	font-family: "Case Text", sans-serif;
	font-size: clamp(0.7rem, 1.7vw, 2.7rem);
	border:medium solid white;
	position: relative;
	padding: 2vw;
	max-width: 75ch;
	width:90%;
}

#_idContainer000 {
	display:inline-block;
	height:1008px;
	position:relative;
	width:1848px;
}
#_idContainer003 {
	display:inline-block;
	height:316px;
	width:1368px;
}
#_idContainer002 {
	margin-top: 0;
	margin-bottom: 1.33em;

}

div._idGenObjectStyleOverride-1 {
	background-color:#000000;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}

div.test {
    border: thick solid white;
    margin: auto;
	position: relative;
	padding: 18px;
	width: fit-content;
}
.resume {
	height: 0.56em;
	width: auto;
}
.email {
	height: 0.56em;
	width: auto;
}
.pub {
	height: 0.56em;
	width: auto;
	
}
.bottom {

}
.contact {

}

@media screen and (max-width: 600px) {
  div.review_text, div.control, div.review_intro {
    width:90%;
	max-width:none;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
  }
}
