---
const { bylineHtml } = Astro.props;
---

<div class="byline" set:html={bylineHtml} />

<!--<div class="byline">
  <p class="byline">Stevan Veljkovic</p>
  <p class="byline">University of Oxford</p>
  <p class="trigger">
    <a
href="mailto:correspondence@stevanveljkovic.com">stevan.veljkovic@theology.ox.ac
.uk</a>
  </p>
  <p class="byline" style="padding-bottom: 3vh;">
    ORCID: <a
href="https://orcid.org/0000-0002-2599-3227">https://orcid.org/0000-0002-2599-
3227</a>
  </p>
</div>